<h1>New Question</h1>

<%= form_with scope: :question, url: questions_path, local: true do |form| %>
  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </p>

  <p>
    <%= form.label :text %><br>
    <%= form.text_area :text %>
  </p>
  <%= form.hidden_field :link_id, value: params['link_id'] %>
  <p>
    <%= form.submit %>
  </p>
<% end %>
