<div id="login" class="modal fade modal-keyboard" tabindex="-1">
  <div class="modal-dialog modal-login">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Member Login</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      </div>
      <div class="modal-body">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {:id => :login_form}) do |f| %>
          <div class="form-group">
            <i class="glyphicon glyphicon-user"></i>
            <%= f.text_field :username, autofocus: true, autocomplete: "username", placeholder: "Username", class: "form-control", required:true, id: "login_user_username" %>
          </div>
          <div class="form-group">
            <i class="glyphicon glyphicon-lock"></i>
            <%= f.password_field :password, autocomplete: "off", class: "form-control", required: true, placeholder: "Password", id: "login_user_password" %>
          </div>
          <% if devise_mapping.rememberable? -%>
            <div class="form-group chk">
              <%= f.check_box :remember_me, checked: true %>
              <%= f.label :remember_me %>
            </div>
          <% end -%>
          <div class="form-group">
            <input type="submit" class="btn btn-primary btn-block btn-lg" value="Login">
          </div>
        <% end %>
      </div>
      <div class="modal-footer" role="group">
        <div class="container-fluid">
          <div><%= link_to "Sign up", "#signup", "data-dismiss" => "modal", "data-toggle" => "modal" %></div>
          <div><%= link_to "Forgot your password?", new_password_path(resource_name) %></div>
        </div>
      </div>
    </div>
  </div>
</div>
