<!DOCTYPE html>
<html>
  <head>
    <title>GroupThink</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-inverse navbar-static-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <%= link_to "Group Think", root_path, class: "icon navbar-brand" %>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <% if user_signed_in? %>
                  <li><a class="noselect"><%=current_user.username %></a></li>
                  <li><%=link_to "Logout", destroy_user_session_path, method: :delete %></li>
                <% else %>
                  <li><%= link_to "Login", "#login", "data-toggle" => "modal" %></li>
                <% end %>
            </ul>
        </div>
    </nav>
    <%= render "login_modal" %>
    <%= render "signup_modal" %>
    <%= yield %>
  </body>
</html>
